schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="leagues">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="league">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="id" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="clubs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="club">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
					<xs:element name="year_established">
					  <xs:simpleType>
						<xs:restriction base="xs:integer">
						  <xs:minInclusive value="1800"/>
						  <xs:maxInclusive value="2018"/>
						</xs:restriction>
					  </xs:simpleType>
					</xs:element>                    
					<xs:element name="league">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="league_id" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:byte" name="league_thophys"/>
                    <xs:element type="xs:string" name="owner"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id" use="required"/>
                  <xs:attribute type="xs:string" name="player_id" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="player">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:byte" name="number"/>
              <xs:element name="club">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="club_id" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="age">
				  <xs:simpleType>
					<xs:restriction base="xs:integer">
					  <xs:minInclusive value="0"/>
					  <xs:maxInclusive value="120"/>
					</xs:restriction>
				  </xs:simpleType>
			  </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>